
{% if hostvars[item]['group_names'] | difference('monitoring_servers') %}
  # A host definition
object Host "{{ hostvars[item]['ansible_hostname'] }}" {
  import "generic-host"
  address = "{{ lookup('dns', item)  }}"
  vars.os = "{{ hostvars[item]['ansible_system'] }}"
  vars.os_family = "{{ hostvars[item]['ansible_os_family'] }}"
  {% if 'ansible_ssh_port' in hostvars[item] %}
  vars.ssh_port = "{{ hostvars[item]['ansible_ssh_port'] }}"
  {% else %}
  vars.ssh_port = 22
  {% endif %}

  # Here Goes Vars and check_command
{% for key,value in host_attributes.iteritems() %}
{% for key,value in value.items() %}
  {{ key }} = "{{ value }}"
{% endfor %}
{% endfor %}

}

  #Here Goes Checks if Any
{% if host_checks is defined %}
{% for key,value in host_checks.iteritems() %}
{% set service_name = key %}

{% if service_name not in ['l_http', 'l_https', 'l_smtp', 'l_simap']  %}
  # Service name not in special services
  object Service "{{ key }}" { 
    host_name = "{{ hostvars[item]['ansible_hostname'] }}"
  
    {% for key,value in value.items() %}
    {{ key }} = "{{ value  }}"
    {% endfor  %}
  }

{% else  %}


  {% if (key == 'l_http' and 'monitored_http_servers' in hostvars[item]['group_names']) 
    or (key == 'l_https' and 'monitored_https_servers' in hostvars[item]['group_names']) 
    or (key == 'l_smtp' and 'monitored_smtp_servers' in  hostvars[item]['group_names']) 
    or (key == 'l_simap' and 'monitored_simap_servers' in hostvars[item]['group_names']) %}

  object Service "{{ key }}" {
    # {{key}} - {{value}} - {{hostvars[item]['group_names']}}
    host_name = "{{ hostvars[item]['ansible_hostname'] }}"

    {% if (key == 'l_http') or (key == 'l_https') %}
    vars.http_vhost = "{{item}}"
    {% endif %}

    {% if (key == 'l_smtp') %}
    vars.smtp_address = "{{item}}"
    {% endif %}

    {% if (key == 'l_simap') %}
    vars.simap_address = "{{item}}"
    {% endif %}

    # Special Service
    {% for key,value in value.items() %}
    {{ key }} = "{{ value  }}"
    {% endfor  %}

  } 
  {% endif %} 

{% endif  %}
    


{% endfor %}
{% endif %}
{% else %}
# This is a monitoring server entry. No checks will be copied.
{% endif %}
